@model IEnumerable<DT191G_projekt.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Plocka order</h1>
<h2>Ordernummer : @ViewBag.OrderNumber</h2>



<table class="packingListTable">
  <thead>
    <tr>
      <th>Artikelnummer</th>
      <th>Produkt</th>
      <th>Antal</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var article in ViewBag.PackingList)
    {
      <tr>
        <td>@article.ArticleNumber</td>
        <td>@article.ProductTitle</td>
        <td>@article.Amount</td>
        
      </tr>
    }
  </tbody>
</table>

<form asp-controller="CustomerOrder" asp-action="ChangeStatus" asp-route-ordernumber="@ViewBag.OrderNumber" method="post">
    <button class="changeStatusBtn" type="submit">Ändra order till plockad</button>
</form>


