@model IEnumerable<DT191G_projekt.Models.CustomerOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Plockade ordrar</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Skicka
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.OrderId">Skicka Order</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingCost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Redigera order</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Radera/Annulera</a>
            </td>
        </tr>
}
    </tbody>
</table>
