@model DT191G_projekt.Models.Recipe

@{
    ViewData["Title"] = "Details";
}


<h1>@ViewBag.RecipeTitle</h1>
<h2>Beskrivning</h2>
<p>@ViewBag.RecipeDescription</p>

<h2>Ingredinser</h2>
<ul>
    @foreach (var ingredient in ViewBag.Ingredients)
    {
        <li>@ingredient.Name (@ingredient.Quantity @ingredient.Unit)</li>
    }
</ul>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Redigera recept</a> |
    <a asp-action="Index">Tillbaka till översikten</a>
</div>
