@model DT191G_projekt.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h1>@ViewBag.RecipeTitle</h1>
<p>@ViewBag.RecipeDescription</p>

<h2>Ingredients:</h2>
<ul>
    @foreach (var ingredient in ViewBag.Ingredients)
    {
        <li>@ingredient.Name (@ingredient.Quantity @ingredient.Unit)</li>
    }
</ul>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
