@model IEnumerable<DT191G_projekt.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Publicerade recept på webbplatsen</h1>

<p>
    <a asp-action="Create">Lägg till recept</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Läs hela receptet</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Radera recept</a>
            </td>
        </tr>
}
    </tbody>
</table>
