@model IEnumerable<DT191G_projekt.Models.AboutUs>

@{
    ViewData["Title"] = "Översikt av inlägg";
}

<h1>Om Oss</h1>

<p>
    <a asp-action="Create">Lägg till en ny text</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Redigera texten</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Läs hela texten</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>

